*{
	margin: 0; padding: 0; 

}
body{
	background: #ccc;
	width: 950px ;	
	margin: 0 auto ;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	font-size: 12px;
}

.left-block{
	display: none;
	position:absolute ;
	width: 50px ;
	height: 125px ;
	right: 0 ;
}

.left-block .right-block-ul li{
	background: #EAD3FD ;
	position: relative;
	display: block;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	height: 24px ;
}

.left-block .right-block-ul li a{
	position: absolute;
	line-height: 25px;
	font-size: 12px;
	font-weight: 600;
	margin-left: 20px;
}
/*顶部导航开始*/
.header{

	height: 140px;
	background-color: #262627; 
	border-radius: 5px ;
}
.header-bar{ 
	position: relative;
	height: 100px ;
	top:20px; 
	/*border: 1px solid blue ;*/
}
.header-bar .logo{
	position: absolute;
	left: 50px ;
}
.header-bar .logo img{
	display: block;
	width: 230px;
	height: 45px;
}
.header-bar .title{
	position: absolute;
	top:30px ;
	left:290px;
	width: 580px ;
	height: 50px;
	border-radius: 5px ;
	box-shadow: 0 0 5px #fff ;
	-webkit-transform: skewX(-15deg) ;
	-moz-transform: skewX(-15deg) ;
}

.header-bar .title-shadow{
	position: absolute;
	border-radius: 2px;
	left:290px;
	top: 83px ;
	width: 575px ;
	height: 10px ;
	box-shadow: 0 0 5px #fff ;
	-webkit-transform: skewX(60deg) ;
	-moz-transfrom:skewX(60deg);
}
.header-bar .title .move-block{
	position: absolute;
	top:-5px;
	left: 7px ;
	width: 143px ;
	height: 60px ;
	background-color: rgba(136,181,218,0.5);
	border-radius: 5px ;
}
.header-bar .title ul{
	position: relative;
	left: 10px;
}
.header-bar .title ul li{
	/*border: 1px solid red ;*/
	float: left; 
}
.header-bar .title ul li a{
	width: 120px ;
	height: 50px ;
	display: block;
	left: 50px ;
	border-left:  2px solid #eee;
	padding-left: 20px ;
	line-height: 50px ;
	font-size: 20px ;
	font-family: 微软雅黑 ;
	color: #fff ;
	text-shadow:  0 0 2px white;
}
.header-bar .title ul li a:hover{
	cursor: pointer;
	font-size: 21px; 
}
#bar-one{
	font-weight: 300;
	border-left: none ;
}
/*顶部导航结束*/


/*主体基本信息开始*/
.body-one{
	margin-top:5px ;
	position: relative;
	width: 950px ;
	height: 900px ;
	border-radius: 10px ;
	box-shadow: 0 0 5px #A892FE ;
	background-color:#6699cc ;
}

.body-one .box{
	perspective:800px; /* 景深 */
	-webkit-perspective: 800px ;	
	position: relative;
	width: 900px;
	height: 450px ;
}

.body-one .personal{
	position: relative;
	left: 25px ;
	width: 900px;
	height: 400px ;
	top:30px;
	
}
.body-one .personal p{
	line-height: 40px ;
	font-size: 20px ;
	font-family: 微软雅黑 ;
	color: #fff;
}
.body-one .personal .info{
	position: relative;
	left: 25px ;
	width: 840px ;
	height: 340px ;
	border-radius: 15px ;
	box-shadow: 0 0 5px white ;
}
.body-one .personal .info .outbox{
	transform-style: preserve-3d ;  /* 3d模式 ，下级div同父级3d*/
	-webkit-transform-style: preserve-3d ;
	transform-origin: 50% 50% 1px; /* 改变旋转轴 */
	-webkit-transform-origin: 50% 50% 1px; 
	position: relative;
	width: 840px ;
	height: 340px ;
	cursor: pointer;
}
.body-one .personal .info .outbox .content{
	transform:rotateX(-180deg); 
	-webkit-transform:rotateX(-180deg) ;
	position: absolute;
	top:10px;
	left:10px;
	width: 820px ;
	height: 320px ;
	border-radius: 15px ;
	background-color:  #C1BFC0;	
}
.body-one .personal .info .outbox .content1{
	position: absolute;
	top:10px;
	left:10px;
	width: 820px ;
	height: 320px ;
	border-radius: 15px ;
	background: -webkit-gradient(linear, left top, left bottom, 
		from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00));
	background-image:-moz-linear-gradient( top, #00abeb, #fff,  #66cc00,  #fff);
	transform:translateZ(2px);
	-webkit-transform:translateZ(2px);	
}
.body-one .personal .info .outbox .content1 span{
	display: block;
	margin: 70px auto ;
	width: 480px ;
	font-family: 宋体 ;
	font-size: 120px ;
	color: rgba(0,0,0,0.3);
}

.body-one .personal .content .base-info{
	float: left;
	margin-top: 15px ;
	margin-left: 15px ;
	width: 120px;
}
.body-one .personal .content .base-info p{
	color: #8A244B;
	font-family: 宋体 ;
}
.body-one .personal .content .info-write{
	float: left ;
	margin-top: 15px ;
	margin-left: 20px ;
	width: 400px;
}
.body-one .personal .content .info-write p{
	font-family: 宋体;
	color: #000;
}
.body-one .personal .content .per-pic{
	float: left;
	width: 148px ;
	height: 185px ;
	background-image: url(../images/perpic.jpg) ;
	background-repeat: no-repeat;
	margin-left: 80px ;
	margin-top: 30px ;
	border-radius: 5px ;
}
.body-one .personal .content .sch{
	position: relative;
	float: left;
	width: 375px ;
	height: 300px ;
	margin-top: 50px;
	margin-left: 30px;
}
.body-one .personal .content .sch span{
	position: absolute;
	width: 350px ;
	color: #8A244B;
	font-family: 宋体 ;
	font-size: 20px ;
	line-height: 25px ;
}
.body-one .personal .content .sch .sch-detial{
	position: absolute;
	top:35px ;
	width: 350px ;
	height: 100px ;
	border-top:  2px solid #51ca65 ;
	padding-top: 10px ;
}
.body-one .personal .content .sch .sch-detial p{
	font-family: 宋体 ;
	color: #000;
	font-size: 18px ;
	line-height: 40px ;
}

/*主体基本信息结束*/

/*主体实习经验开始*/
.body-two{
	margin-top:20px ;
	position: relative;
	width: 950px ;
	height: 900px ;
	border-radius: 10px ;
	box-shadow: 0 0 5px gray ;
	background-color:#243545 ;
}
.com-title{
	position: absolute;
	width: 120px;
	height: 30px;
	left: 30px;
	top: 10px;
}
.com-title p{
	line-height: 30px;
	font-size: 22px;
	font-family: 宋体 ;
	color: #39F4D2;
}
.body-two .work{
	position: absolute;
	top:50px;
	width: 940px ;
	height: 800px ;
	overflow: hidden;
}
.body-two .work p input{
	padding-left: 7px;
	font-size: 14px ;
	font-family: 微软雅黑;
	letter-spacing:1px;
}
.body-two .work p textarea{
	padding-left: 5px;
	padding-right: 5px;
	font-family: 宋体;
	font-size: 14px;
	font-weight: 500;
	
}
.body-two .work-one{
	position: relative;
	top:40px ;
	float: left;
	left: -1020px ;
}
.body-two .work-one .back-m1{
	position: absolute;
	height: 0;
	width: 700px;
	border-top: 350px solid #f4d7b8;
	border-left: 100px solid transparent;
}
.body-two .work-two{
	position: relative;
	float: left;
	top:410px ;
	left: 1130px ;

}
.body-two .work-two .back-m2{
	height: 0;
	width: 700px;
	border-bottom: 350px solid #76aae8;
	border-right: 100px solid transparent;
}
.body-two .work-one .work-list1{
	position: absolute; 
	top:35px;
	width: 600px ;
	height: 310px ;
	left: 100px ;
}
.body-two .work-one .work-list1 p{
	color: blue ;
	line-height: 35px ;
	font-size: 18px ;
}
.body-two .work-two .work-list2{
	position: absolute; 
	top:35px;
	width: 600px ;
	height: 310px ;
	left: 100px ;
} 
.body-two .work-two .work-list2 p{
	color: white ;
	line-height: 35px ;
	font-size: 18px ;
}


/*主体实习经验结束*/

/*主体相关技能开始*/
.body-three{
	margin-top:20px ;
	position: relative;
	width: 950px ;
	height: 900px ;
	border-radius: 10px ;
	box-shadow: 0 0 5px white ;
	background-color: #d5f3f4;
}
.body-three .jinengtit p{
	color: #333;
}
.body-three .select-ul{
	position: relative;
	top:50px;
	margin:0 auto;
	width: 800px ;
	height: 800px ; 
}
.body-three .select-ul .select-menu{
	position: absolute;
	width: 250px ;
	height: 50px  ;
}
.body-three .select-ul .select-menu .tec-title{

}
.body-three .select-ul .select-menu .tec-title li{
	position: relative;
	display: block;
	margin-left: 2px;
	float: left;
	width: 120px ;
	left:5px;
	top: 10px;
	height: 40px;
	background-color: #EDAB01 ;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	cursor: pointer;
	box-shadow: 3 -3 3px #000;
}

.body-three .select-ul .select-menu .tec-title .select-active{
	background-color: #E38129 ;
	color:#fff;
}
.body-three .select-ul .select-menu .tec-title li p{
	position: absolute;
	top:8px;
	left:40px;
	font-size: 22px;
	font-size: 400 ;
	line-height: 25px;
	font-family: 宋体;
}
.body-three .select-ul .left-menu{
	position: absolute;
	width: 242px;
	height: 750px ;
	top:51px;
	left:7px;
	background-color:  #E38129; 
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	overflow:  hidden;
}
.body-three .select-ul .left-menu .tec-box{
	position: absolute;
	left:0;   /* 控制移动来显示内容块 */
	width: 250px ;
	height: 750px ;
}
.body-three .select-ul .left-menu li{
	cursor: pointer;
	width: 200px ;
	height: 50px ;
	border-radius: 3px ;
	margin: 20px auto ;
	border-radius: 5px ;
	background-color: #A9B1B8 ; 
	box-shadow: 0 0 4px #000;
}
.body-three .select-ul .left-menu ul li p{
	position: relative;
	left:40px;
	font-size: 22px ;
	line-height: 50px ;
}
.body-three .select-ul .left-menu  .qianduan{
	position: absolute;
	top:30px;
	float: left; 
	left:25px;
	width: 200px ;
}
.body-three .select-ul .left-menu .tab-active{
	background-color: rgba(0,0,0,0.3) ; 
	color: #fff;
}
.body-three .select-ul .left-menu .houtai{
	position: absolute;
	top:30px;
	float: left; 
	width: 200px ;
	left:300px;
}
.body-three .select-ul .book-zhou{
	position: absolute;
	float: left;
	width: 10px ;
	height: 785px;
	border-radius: 3px;
	background-color: rgba(0,0,0,0.5) ;
	top:15px;
	left: 251px;
}
.body-three .select-ul .card-content{
	position: relative;
	float: left;
	width: 540px;
	height: 785px;
	top:15px;
	left: 260px;
	perspective:3200px; /* 景深 */
	-webkit-perspective: 3200px ;
}
.body-three .select-ul .card-content .card-box{
	width: 540px;
	height: 785px;
	transform-style: preserve-3d ;  /* 3d模式 ，下级div同父级3d*/
	-webkit-transform-style: preserve-3d ;
	transform-origin: 50% 50% 50%; /* 改变旋转轴 */
	-webkit-transform-origin: 50% 50% 50%; 
}
.body-three .select-ul .card-content .card-box li{  /*动态控制宽度，达到不成页效果*/
	position: absolute;
	background-color: #DAC751 ; 
	width: 540px;
	height: 781px;
	top:2px;
	border-top-right-radius: 10px ;
	border-bottom-right-radius: 10px ;
	border-right: 1px solid #000 ;
	box-shadow: 0 0 1px #000;
	transform-origin:left ; 
	-webkit-transform-origin:left ; 
	transform:rotateY(0deg); 
	-webkit-transform:rotateY(0deg) ;
}
.body-three .select-ul .card-content .card-box li p{
	width: 450px;
	display: block;
	position: relative;
	top:50px;
	left:40px ;
	line-height: 35px;
	font-size: 22px;
}


/*主体相关技能结束*/

/*主体自我评价开始*/
.body-four{
	margin-top:20px ;
	position: relative;
	width: 950px ;
	height: 900px ;
	border-radius: 10px ;
	box-shadow: 0 0 5px #C68775 ;
	background-color: #66cccc;
}
.body-four .jieshaotit  p{
	color: #0111BE;
}
.body-four .self-introduce{
	position: relative;
	width: 800px;
	left: 75px ;
	height: 200px ;
	top:50px ;
	border-radius: 10px ;
	border: 1px dashed  yellow ; 
}

.body-four .self-introduce .desc{
	position: relative;
	width: 800px ;
	height: 200px ;
	border-radius: 10px ;
	background-color: #eee;
}
.body-four .self-introduce .desc p{
	text-indent:2em ;
	font-size: 18px;
	line-height: 25px;
	word-spacing:8px; 
}
.body-four .pic-tit{
	position: absolute;
	top:280px;
}
.body-four .pic-tit p{
	color: red;
}
.body-four .autoplay{
	position: relative;
	width: 900px;
	height: 550px ;
	margin-top: 100px ;
	left: 25px ;
}
.body-four .autoplay .comborder{
	position: absolute;
	background-color: #0C0B0A;
	width: 690px;
	height: 50px ;
}
.body-four .autoplay .comborder ul{
	position: relative;
}
.body-four .autoplay .comborder li{
	position: absolute;
	width: 15px;
	height: 32px;
	border-radius: 3px;
	background-color: #fff;
	top:9px;
	left:100px;
	overflow: hidden;
}
.body-four .autoplay .comborder1{
	position: absolute;
	width: 20px;
	height: 410px;
	top:70px;
	background-color: #0C0B0A;
}
.body-four .autoplay .leftborder{
	left:60px;
}
.body-four .autoplay .rightborder{
	left: 620px;
}
.body-four .autoplay .upborder{
	top:25px;
}
.body-four .autoplay .downborder{
	bottom:25px;
}
.body-four .autoplay .bigwindow{  /* 540*400 */
	position: absolute;
	width: 540px;
	height: 400px;
	top:75px;
	left: 80px;
}
.body-four .autoplay .bigwindow .big-pic{
	position: relative;
	width: 540px;
	height: 400px;
	overflow: hidden;
}
.body-four .autoplay .bigwindow .big-pic .pncom{
	position: absolute;
	height: 60px;
	width: 60px;
	top:170px;
	border-radius: 8px;
	z-index:3001;
	filter:alpha(opacity:0); opacity:0; cursor: pointer;
}
/*可以利用css3或者html5绘制向前向后图标*/
.body-four .autoplay .bigwindow .big-pic .prev{
	left: 30px;
	background: url(../images/btn.gif) no-repeat;
}
.body-four .autoplay .bigwindow .big-pic .next{
	right: 30px;
	background: url(../images/btn.gif) no-repeat 0 -60px;
}

/*将图片用透明色分词左右两边，用于区分显示向前还是向后*/
.body-four .autoplay .bigwindow .big-pic .mark-left{  
	position: absolute;
	width: 270px;
	height: 400px;
	left: 0;	top:0;
	background: red;
	filter: alpha(opacity:0); opacity: 0; z-index:3000;
}
.body-four .autoplay .bigwindow .big-pic .mark-right{
	position: absolute;
	width: 370px;
	height: 400px;
	left: 270px;	top:0;
	background: green;
	filter: alpha(opacity:0); opacity: 0; z-index:3000;
}
.body-four .autoplay .bigwindow .big-pic li{
	position: absolute;
	width: 540px;
	height: 400px;
	z-index: 0;
	overflow: hidden;
}
.body-four .autoplay .bigwindow .big-pic li img{
	width: 540px;
	height: 400px;	
}
.body-four .autoplay .smallwindow{
	position: absolute;
	width: 210px ;
	height: 460px;
	border-radius: 5px;
	top:50px;
	left: 700px;
	background: #111;
	box-shadow: 0 0 5px #fff;
	overflow: hidden;
}
.body-four .autoplay .smallwindow .small-pic{
	border-radius: 7px;
	position: relative;
	width: 200px;
	height: 450px;
	top:5px; left: 5px;
	overflow: hidden;
}
.body-four .autoplay .smallwindow .small-pic ul{
	position: absolute; top: 0; left: 0;
}
.body-four .autoplay .smallwindow .small-pic ul li{
	filter: alpha(opacity=60); opacity: 0.6; 
	cursor: pointer;
}
.body-four .autoplay .smallwindow .small-pic li img{
	width:200px; 
	height:150px ;
}
/*主体自我评价结束*/

/*尾部开始*/
.tail{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 950px ;
	height:50px ;
	border-radius: 10px ;
	box-shadow: 0 0 5px blue ;
}
/*尾部结束*/